set default=0
set timeout=5
set gfxmode=auto
set gfxpayload=keep

loadfont unicode

terminal_output gfxterm
terminal_input console

if background_color 0 0 0; then
  true
fi

menuentry "Pancake Live" {
  set gfxpayload=keep
  linux  /live/vmlinuz boot=live components quiet systemd.show_status=yes
  initrd /live/initrd.img
}

menuentry "Pancake Live (safe mode / VirtualBox)" {
  set gfxpayload=text
  linux  /live/vmlinuz boot=live components noapic noapm nodma nomce nolapic nosmp vga=normal
  initrd /live/initrd.img
}
