set default=0
set timeout=5
set gfxmode=auto
set gfxpayload=keep

loadfont unicode

terminal_output gfxterm
terminal_input console

if background_color 0 0 0; then
  true
fi

menuentry "Pancake Live (recommended)" {
  set gfxpayload=keep
  linux  /casper/vmlinuz boot=casper components live-media=/dev/sr0 live-media-path=casper systemd.show_status=yes loglevel=4 live-config.username=root live-config.user-default-groups=root,seat,tty,video,render,input video=Virtual-1:1280x800@60 video=QXL-1:1280x800@60 video=VGA-1:1280x800@60
  initrd /casper/initrd.img
}

menuentry "Pancake Live (failsafe debug)" {
  set gfxpayload=text
  linux  /casper/vmlinuz boot=casper components live-media=/dev/sr0 live-media-path=casper systemd.show_status=yes loglevel=4 live-config.username=root live-config.user-default-groups=root,seat,tty,video,render,input pancake.debug_shell=1 noapic noapm nodma nomce nolapic nosmp vga=normal
  initrd /casper/initrd.img
}
